.gradle/
*.classpath
*.project
.settings/
*/bin/
data/src/main/generated/
data/src/main/java/META-INF/persistence.xml
data/src/main/resources/META-INF/MANIFEST.MF
data/src/main/resources/META-INF/persistence.xml
web/src/main/webapp/META-INF/MANIFEST.MF
web/src/main/webapp/WEB-INF/.faces-config.xml.jsfdia
web/src/main/webapp/css/mdb.css
web/src/main/webapp/css/primefaces/rio.css
web/src/main/webapp/js/mdbootstrap/buttons.js
web/src/main/webapp/js/mdbootstrap/chart.js
web/src/main/webapp/js/mdbootstrap/collapsible.js
web/src/main/webapp/js/mdbootstrap/dropdown.js
web/src/main/webapp/js/mdbootstrap/forms-basic.js
web/src/main/webapp/js/mdbootstrap/global.js
web/src/main/webapp/js/mdbootstrap/jquery-easing.js
web/src/main/webapp/js/mdbootstrap/video-bg.js
web/src/main/webapp/js/mdbootstrap/waves-effect.js
web/src/main/webapp/js/mdbootstrap/wow.js
web/src/main/webapp/js/primefaces.js
.tern-project
batch/build/
data/build/
utils/build/
web/build/
*.MF
build/
*.mdj
/.idea/
/dist/
